.contacts__btn {
  cursor: pointer;
  margin: 0 0 47px 0;
  padding: 17px 44px 15px 44px;
  border: none;
  border-radius: 3px;
  background-color: #FB565A;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.contacts__btn:hover {
  background-color: #E74246;
}

.contacts__btn:active {
  background-color: #D7373B;
  color: rgba(255, 255, 255, .3);
}
