.about__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 360px;
  padding: 245px 0 0 0;
  background-image: url('../../../img/nerds-illustration-1.png');
  background-repeat: no-repeat;
  background-size: 360px 208px;
  background-position: top left;
}
