@font-face {
  font-family: 'Roboto';
  src: url('./roboto.woff2') format('woff2');
  src: url('./roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Roboto';
  src: url('./robotobold.woff2') format('woff2');
  src: url('./robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Roboto';
  src: url('./robotomedium.woff2') format('woff2');
  src: url('./robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal
}
