.modal {
  opacity: 0;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: opacity .3s linear, z-index .3s linear;
}
