.header__container {
  background-color: transparent;
  background-image: url('../../../img/nerds-index-slide1_1.png');
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: bottom right;
}
